/* syles for my resume */


#description #date  {
    font-family:'Open Sans', arial, sans-serif ;
    font-size: 1em;
    color:#444;
    font-weight:400;
}

#container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Name */
#name {
    font-size: 2.5em;
    margin-bottom: 10px;
}


strong{
    color:#4D0000
    text-transformation:uppercase;
    font-size:1.5em;
}

/* Section titles */
.sectionheader {
    font-size: 1.75em;
    text-transform: uppercase;
    background-color: #4D0000;
    color: white;
    padding: 5px;
    margin: 20px 0 10px 0;
}

#jobtitle {
    margin: 5px 0;
    font-size: 1.25em;
    color:#4D0000;
    font-weight:600;
}

#organization {
    font-size: 1.10em;
    color:#4D0000
;
    font-weight:600;
}
#description {
    font-size: 1em;
    color:#444;
    font-weight:400;

}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}



header p {
    font-size: 1.25em;
    color: #4D0000;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
}


#social-links a {
    margin: 0 15px;
    display: inline-block;
}

#social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
}

#social-links img:hover {
    transform: scale(1.2);
}

#media-links {
    margin: 0 15px;
    display: inline-block;
}

#media-links img {
    width: 60px;
    height:60px;
    transition: transform 0.2s ease-in-out;
}

#media-links img:hover {
    transform: scale(1.2);
}

.styled-link {
    color: #5f66df;
    text-decoration: none;
    font-weight: bold;
}
